:root{
    --primario:  blue;
    --secundario: blueviolet;
    --blanco:#ffffff;
    --oscuro:#03053a;
    --gris:#babcbe;
    --tamaño-fuente: fuente 15px;
}

html{
    font-size:62,5% ;
}
body{
font-size:var(--tamaño-fuente);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

/*utilidades*/
.contenedor{
    width:75%;
    margin:10px ;
}


}
h1{
    color: red;
    background-color: blanchedalmond;
    text-align: center;
    font-size: 2.5rem; 

}
h2{
    color: var(--primario);
    font-size: 1,5rem;
    font-weight: 400
}
h3{
    color:var(--secundario);
}

p{
    font-size: 2,6rem
}

nav{
    background-color: rgb(33, 221, 52);
    color:var(--blanco);
}
.navegacion.principal{
    display: flex;
    color: var(--blanco);
}

.navegacion.principal{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding-top:10px;
    padding-left:10px;
    padding-right: 1opx;
    background-color: pink;
}

.navegacion.principal{
    color: var(--oscuro);
    background-color: var(--secundario);
}