html{
    font-size:62,5% ;
}
body{
font-size: 10px; /*1rem = 10px*/
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

/*utilidades*/
.contenedor{
    width: 900px;
    margin:10px ;
}


}
h1{
    color: red;
    background-color: blanchedalmond;
    text-align: center;
    font-size: 2.5rem; 

}
h2{
    color: blue;
    font-size: 1,5rem;
    font-weight: 400
}
h3{
    color: blueviolet;
}

p{
    font-size: 2,6rem
}

nav{
    background-color: rgb(33, 221, 52);
}